*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 130%;
}
a {
    text-decoration: none;
    color: inherit;
}
.header-top {
    position: relative;    
}
.header {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  top center;
}
.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 10px 0;
} 
.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.arrow {
    position: relative;
    width: 100\5;
    /**left: 50%;*/
    text-align: center ;
}
.text {
    color: #fff;
    font-size: 20px;
    line-height: 140%;
    max-width: 422px;
    max-height: 59px;
    top: 127px;
}

.menu_list {
    display: table;
    width: 100%; 
    table-layout: fixed;
    border-spacing: 10px;
    text-align: center;
}
.menu_item {
    display: table-cell;
}
.first-line {
    display: table;
    width: 100%; 
    table-layout: fixed;
    border-spacing: 10px; 
}
.logo {
    display: table-cell;
}
.phone {
    display: table-cell;
    position: relative;
    top: 50%;
    left: 27%;
   
}
.phone-number {
    display: table-cell;
    position: relative;
    top: 0%;
    left: 20%;
    /*border: groove 1em #886239;
    border-radius: 2em;*/
}   
.content{
    color: #1f1e1e;
    font-size: 90px;
    position: relative;
    left: 20%;
}
.btn{
    border-radius: 25px;
    background: #886239;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}
.fixed_menu{
    display: none;
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: -228px;
    background-color: rgba(0,0,0,0.7);
    transition-duration: 0.5s;
    transition-property: all;
}
.fixed_menu:hover {
    left: 0;
}
.fixed_menu::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/menu.svg');
    position: absolute;
    right: 1px;
    top: 1px;

}
.fixed_menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    font-size: 24px;
    padding: 50px 22px;
    line-height: 150%;
}
.fixed_menu_item {
    border-bottom: 2px solid #fff ;
    width: 100%;
}
@media screen and (max-width:940px) {
    .content{
        font-size: 50px;
    }
    
    
}
@media screen and (max-width:1180px) {
    .phone{
        display: none;
    }
    
}
@media screen and (max-width:570px) {
    .content{
        font-size: 40px;
    }
    .phone-number {
        left: 10%;
    }
    .menu_item {
        font-size: 12px;

    }
    
}
@media screen and (max-width:520px) {
    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .phone-number {
        /*left: -50%;
        width: 100%;
        text-align: center;*/
        size: 10px;
    }
    .content {
        font-size: 40px;
    }
    .text{
        font-size: 20px;
        text-align: center;
        color: #fff;
    }
    .fixed_menu {
        display: block;
    }
    .menu {
        display: none;
    }
    
}